.header {
    background-color: #fff;
    height: 80px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px;
}

.header__logo img {
    // height: 50px;
}

form {
    display: flex;
    align-items: center;
}

input[type="search"] {
    font-size: 16px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    width: 300px;
}

input[type="search"]:focus {
    outline: none;
    border-bottom: 2px solid #0071eb;
}

button[type="submit"] {
    margin-left: 10px;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #0071eb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #0054a6;
}

.header__nav {
    display: flex;
}

.header__nav a {
    margin-left: 20px;
    font-size: 18px;
    color: #0071eb;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.header__nav a:hover {
    color: #0054a6;
}